<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
</head>
<body>
    <nav class="navigation">
        <a class="get_home" href="/">Get Home</a>
    </nav>
    <div class="current">
        <p class="city">City: {{cityname}}</p>
        <p class="date">Last measurement: {{citydate}}</p>
        <p class="temp">Temperature: {{citytemp}}</p>
        <p class="feels">Feels like: {{cityfeels}}</p>
        <p class="cond">Weather: {{citycond}}</p>
    </div>
</body>
</html>

<style>
    body {
        background-image: url({{currentImage}});
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>